.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../Assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(150deg) brightness(1000%);
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("/Assets/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--laranja-degrade);
}

.cabecalho {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 1000;
}

.lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__link {
    background: var(--laranja-degrade);
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: var(--fonte-primaria);
    color: var(--cor-de-fundo);
    padding: 0.5em 0;
    font-weight: 700;
}

.container__botao {
    display: none;
}

.container__titulo {
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.container__titulo--negrito {
    color: var(--branco);
}

/* Exiba a lista de menu quando o botão for clicado */
.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__item {
    padding: 1em;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-size: 30px;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }
    
    .lista-menu__item:hover>.lista-menu__link {
        color: var(--branco);
        text-decoration: none;
    }

    .lista-menu {
        display: flex;
        gap: 1rem;
        align-items: center;
        position: static;
        /* Remover posicionamento absoluto em telas maiores*/
        background: none;
        /*Remover fundo em telas maiores*/
    }

    .lista-menu__item {
        padding: 0;
        background: none;
    }

    .lista-menu__item:after {
        content: "";
        width: 0px;
        height: 0px;
        display: block;
        border-bottom: 4px solid #ff652f;
        transition: 0.9s;
    }

    .lista-menu__item:hover::after {
        width: 100%;
        height: 0px;
        padding: 0px;
        border-bottom: 4 px solid #ff652f;
    }


}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }

}